@model NurserySchoolWebPortal.Web.ViewModels.Teachers.TeachersListViewModel
<!--<link href="~/css/posts.css" rel="stylesheet" asp-append-version="true" />

<hr />

<div class="container my-4">

    <hr class="my-4">-->
<!--Carousel Wrapper-->
<!--<div id="carousel-demo" class="carousel slide" data-ride="carousel">-->
<!--Slides-->
<!--<div class="carousel-inner" role="listbox">-->
<!--First slide-->
<!--<div class="carousel-item active">

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-primary">Edit</a>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>-->
<!-- Next / Previous controls here -->
<!--<a class="left carousel-control" href="#carousel-demo" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-demo" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>-->
<!--/.First slide-->
<!--Second slide-->
<!--<div class="carousel-item">

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>-->
<!-- Next / Previous controls here -->
<!--<a class="left carousel-control" href="#carousel-demo" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-demo" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>-->
<!--/.Second slide-->
<!--Third slide-->
<!--<div class="carousel-item">

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>-->
<!-- Next / Previous controls here -->
<!--<a class="left carousel-control" href="#carousel-demo" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-demo" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>-->
<!--/.Third slide-->
<!--</div>-->
<!--/.Slides-->
<!--</div>-->
<!--/.Carousel Wrapper-->
<!--</div>

<hr />-->


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/teachers.css" rel="stylesheet" asp-append-version="true" />

<hr />

<div class="container">
    <div class="row">
        @foreach (var teacher in this.Model.Teachers.Teachers)
        {
            <div class="col-md-4">
                <div class="card user-card">
                    @*<div class="card-header">
                            <h5>Profile</h5>
                        </div>*@
                    <div class="card-block">
                        <div class="user-image">
                            <img src="https://www.mainewomensnetwork.com/Resources/Pictures/vicki%20aqua%20headshot-smallmwn.jpg" width="200" class="img-radius img-responsive" alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600 m-t-25 m-b-10">@teacher.FullName</h6>
                        <p class="text-muted">Active | Male | Born 23.05.1992</p>
                        <hr>
                        <p class="text-muted m-t-15">Activity Level: 87%</p>
                        @*<ul class="list-unstyled activity-leval">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                            </ul>*@
                        @*<div class="bg-c-blue counter-block m-t-10 p-20">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fa fa-comment"></i>
                                        <p>1256</p>
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-user"></i>
                                        <p>8562</p>
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-suitcase"></i>
                                        <p>189</p>
                                    </div>
                                </div>  
                            </div>*@
                        <p class="m-t-15 text-muted">@teacher.PersonalMessage</p>
                        <hr>
                        <div class="row justify-content-center user-social-link">
                            <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                            <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                            <div class="col-auto"><a href="#!"><i class="fa fa-linkedin text-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<hr />
<!-- Images -->
<partial name="_TeachersPagingPartial" model="Model" />