@model NurserySchoolWebPortal.Web.ViewModels.Schools.SingleSchoolViewModel

<div>
    @Model.Name
</div>
<div>
    @Model.Address
</div>
<div>
    @Model.Principal
    @*<a asp-controller="Principals" asp-action="ById" asp-route-id="@Model.Principal.Id" class="btn btn-primary">Change</a>*@
    <a asp-controller="Schools" asp-action="ById" asp-route-id="" class="btn btn-primary">Add</a>
    <a asp-controller="Schools" asp-action="ById" asp-route-id="" class="btn btn-primary">Delete</a>
</div>  
